.tradingcard{
	border-style:groove;
	width:400px;
}

.information{
	border-style:groove;
	width:300px;
	margin-left: 45px;
	margin-top: 10px;
}

#ul{	
	list-style: none;
}

#image{
	margin-left: 45px;
	width:300px;
}

